*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

.forget{
    margin: 0px auto;
    position: absolute;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    width: 28em;
    height: 25em;
    margin-left: 30em;
    margin-top: 10em;
    border: 2px solid rgb(228, 228, 228);
    box-shadow: 4px 4px 4px 4px rgb(238, 236, 236);
}
.reset{
    margin: 0px auto;
    position: absolute;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    width: 28em;
    height: 25em;
    margin-left: 30em;
    margin-top: 10em;
    border: 2px solid rgb(228, 228, 228);
    box-shadow: 4px 4px 4px 4px rgb(238, 236, 236);
}
.inpreset{
    position: relative;
}