*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;

   
}

.dLJlQK {
    width:100%;
    height:auto;
    /* overflow-y:hidden; */
    display:flex;
    flex-direction: column;
    background:var(---color-white-lightest);
    border:1px solid var(---color-white-darkest);
    box-shadow:var(--shadow-regular);
    border-radius: var(--radii-lg);
}

.dyGQst{
    min-height: 30vh;
    border-radius: 12px;
    border: 1px solid rgb(239,242,245);
    /* overflow-y:hidden; */
    box-shadow: rgba(22,28,38,0.12)  0px 1px 2px 0px;
}
.gAqflM{
    max-width:1024px;
    margin: 0px auto;
}
.kjnpBp{
    position: relative;
    max-width: 1024px;
    width: 100%;
    margin: 0px auto;
    min-height: 1600px;
}
.css-1jx43s9{
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    padding: 16px;
}
.formd{
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}
.css-7hx0rn {
    box-sizing: border-box;
    margin: 16px 0px;
    min-width: 0px;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}
.css-s4a3kf{
    box-sizing: border-box;
    margin: 0px 0px 12px;
    min-width: 0px;
    text-align: center;
    width: 100%;
}
.kdljob{
    margin: 0px;
    font-size: 2rem;
    line-height: 1.2;
    color: rgb(22, 28, 38);
    cursor: pointer;
    font-weight: var(--typography-bold-font-weight, 500);
    border-bottom: 1px dashed rgb(81, 97, 115);
    display: inline;
}
.div{
    display: block;
    unicode-bidi:isolate;
}
.bOoGEV{
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    gap: var(--sizes-larger);
}
.lkWYBX {
    flex: 1 1 0%;
}
.css-dqaqgw {
    box-sizing: border-box;
    margin: 0px 0px 12px;
    min-width: 0px;
    flex-direction: column;
    display: flex;
}
.css-lkfkdq {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    flex-direction: row;
    width: 100%;
    display: flex;
}
.css-offwra {
    box-sizing: border-box;
    margin: 12px 0px;
    min-width: 0px;
}
.hmbmoI .react-datepicker-wrapper {
    width: 100%;
}
.react-datepicker-wrapper {
    display: inline-block;
    padding: 0;
    border: 0;
}
.react-datepicker__input-container {
    position: relative;
    display: inline-block;
    width: 100%;
}
.css-lkfkdq {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    flex-direction: row;
    width: 100%;
    display: flex;
}
.jfhlCu {
    font-weight: 400;
    line-height: 1.5;
    margin: 0px;
    font-size: 1rem;
    color: rgb(22, 28, 38);
    cursor: pointer;
    border-bottom: 1px dashed rgb(81, 97, 115);
    display: inline;
}
.css-1ugviwv {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 33.3333%;
}
.fglnHt {
    align-self: center;
    line-height: 1rem;
    margin-right: 0.25rem !important;
}
.css-offwra {
    box-sizing: border-box;
    margin: 12px 0px;
    min-width: 0px;
}
.cfOcjU {
    display: flex;
    flex: 1 1 0%;
}
.css-1hrc83f {
    box-sizing: border-box;
    margin: 16px 0px;
    min-width: 0px;
}
.fgqjvv {
    display: flex;
    flex: 1 1 0%;
    -webkit-box-pack: end;
    justify-content: flex-end;
}
.ccSIwG {
    display: flex;
    flex-direction: column;
    border-radius: var(--radii-hg);
    overflow: hidden;
    align-self: flex-start;
    gap: var(--sizes-smallest);
    padding: var(--sizes-small);
    background-color: transparent;
}
.iQiqzk {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    gap: var(--sizes-small);
}
.fOqvIN {
    display: flex;
    -webkit-box-pack: end;
    justify-content: end;
    width: auto;
    height: auto;
}
.bGzaqN {
    -webkit-box-align: center;
    align-items: center;
    height: inherit;
}
.loDNNx {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    gap: 16px;
    margin: 16px 0px;
}
.fOqvIN[data-logo-shown="false"] {
    width: 100%;
}
.jouFbB {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    gap: var(--sizes-regular);
}
.jOMtZL {
    width: 100%;
    flex: 1 1 0%;
    border-radius: 12px;
    padding: var(--sizes-regular);
    background: var(--color-white-light);
    border: 1px solid var(--color-white-dark);
}
.css-l3rx45 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    flex-direction: column;
    display: flex;
}
.gMheUg {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background: var(--color-white-lightest);
    margin-top: 16px;
    box-shadow: var(--shadow-regular);
    border-radius: var(--radii-lg);
}
/* .erxLkN[data-grid-items="3"] {
    grid-template-columns: repeat(3, 1fr);
} */
.erxLkN {
    display: grid;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    align-items: end;
    gap: var(--sizes-regular);
}
.css-1regwqq {
    box-sizing: border-box;
    margin: 16px 0px;
    min-width: 0px;
    flex-direction: column;
    display: flex;
}
.hMdWhC {
    display: grid;
    position: relative;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    column-gap: 0.5rem;
    grid-template-columns: repeat(23, 1fr);
    padding: 1rem;
    background: rgb(115, 61, 217);
}
.gPQvUN {
    display: block;
    font-weight: 400;
    line-height: 1.5;
    margin: 0px;
    font-size: 0.875rem;
    color: rgb(255, 255, 255);
}
.cSoVky.cSoVky {
    grid-column: span 6;
}
.gPQvUN {
    display: block;
    font-weight: 400;
    line-height: 1.5;
    margin: 0px;
    font-size: 0.875rem;
    color: rgb(255, 255, 255);
}
.ipFzHX.ipFzHX {
    grid-column: span 2;
}
.css-1rkhxi3 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 100%;
    flex-direction: column;
    display: flex;
}
.kyEFaT {
    display: inline-flex;
    outline: none;
    width: auto;
    line-height: 1.5;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    font-family: inherit;
    font-weight: 400;
    -webkit-box-pack: center;
    justify-content: center;
    vertical-align: middle;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 4px;
    border: 1px dashed rgb(180, 194, 213);
    height: 2.375rem;
    padding: 0px 1.5rem;
    white-space: nowrap;
    background: rgb(255, 255, 255);
    color: rgb(81, 97, 115);
    appearance: none !important;
}
.eJtycR.eJtycR {
    font-weight: 400;
    white-space: nowrap;
}
.css-19604he {
    box-sizing: border-box !important;
    margin: 24px 0px 16px;
    min-width: 0px;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}
@media screen and (max-width: 52em) {
    .ipFzHX.ipFzHX {
        display: none;
    }
}
@media screen and (max-width: 900px) {
    .erxLkN.erxLkN {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 568px) {
    .erxLkN.erxLkN {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 768px) {
    .loDNNx {
        flex-direction: column;
    }
}
@media screen and (max-width: 768px) {
    .ccSIwG {
        width: 100%;
    }
}
@media screen and (max-width:900px){
    .kjnpBp{
        min-height: 800px;
    }
}
@media screen and ( max-width:1024px){
    .dyGQst{
        border-radius: 0px;
    }
   
}
@media screen and (max-width: 768px) {
    .bOoGEV {
        flex-direction: column-reverse;
    }
}