*{
    margin: 0;
    padding:0;
}.data{
   background-color:rgb(230, 226, 226);
   width: 90vw;
   height: 90vh;
   box-sizing: border-box;   
}
 .heading{
    background: transparent;
    outline:none;
    border: none;
    overflow:visible;
    border-bottom: 2px dotted black;
    width: 8em;

   font-family: 'Arial';
    text-align: center;
 }
 .transportheading{
    background: transparent;
    outline:none;
    border: none;
    overflow:visible;
    border-bottom: 2px dotted black;
    width: 9em;
   
   font-family: 'Arial';
    text-align: center;
 }
.inpt{
  
  background: transparent;
  outline:none;
  border: none;
  overflow:visible;
  border-bottom: 2px dotted rgb(147, 147, 147);
  width:100px;
    margin: 5px;
   margin-right: 10px;
   font-family: Arial, Helvetica, sans-serif;
   padding: 5px; 
   
}
.inptS{
    background: transparent;
    outline:none;
    border: none;
    overflow: hidden;
    border-bottom: 1px solid rgb(184, 179, 179);
    width: 10em;
     margin: 5px;
      margin-right: 3px;
     padding: 5px; 
}

.inviFor{
    box-sizing: border-box;
     
     
    border: 2px solid rgb(228, 228, 228);
    box-shadow: 4px 4px 4px 4px rgb(238, 236, 236);
  
}
.cli{
    display: flex;
    justify-content: space-between;
     margin-top: 10px;
    padding:5px; 

}
.imaag{
width: 14em; 

box-shadow: 1px 1px 1px 1px rgb(255, 255, 255);
border-radius:10px ;
font-family:Arial, Helvetica,;
border: 1px dotted black;

}
.first{
    margin: 5px;
    padding:5px;
}

.infile{
   margin: 10px;
  border-radius: 52px;
  width: 70%;
  height: 20%;
  
 } 

.Bill{
 
    justify-content: space-between;
    justify-content: center;
    margin-left: 15px;
 
     width: 30vw;
    height: 80vh; 
    box-shadow: 1px 1px 1px 1px rgb(238, 236, 236);
    margin-top: 2em;
    box-sizing: border-box;
    border: 2px solid rgb(228, 228, 228) ;
 

}
.billff{
    display:flex;
    justify-content: space-between;
    background-color: azure;
  
    margin-left: 15px;
    width: 30vw;
    height: 90vh;

    text-align: center;
    border-radius: 5px ;
}
.client{
    
    justify-content: space-between;
    justify-content: center;
    margin-left: 50px;
    width: 30vw;
    height: 80vh;
    background-color:rgb(228, 227, 227);
    border-radius: 6px;
}
.clientf{
    background-color: rgb(255, 255, 255);
    color: #353131;
    width: 28vw;
    height: 70vh;
    text-align: center;
  

    border-radius: 5px ; 
    
     box-sizing: border-box;
}
.bill{
    display: flex;
    margin: 20px;
    justify-content: space-around;
   
}
.ship{
    display: flex;
    margin: 20px;
    justify-content: space-around;
}
.inpfil{
  
    width: 95vw;
    height: 80vh;
    border: 3px;
  
   box-shadow: 1px 1px 1px 1px rgb(238, 236, 236);
    margin-top: 2em;
    box-sizing: border-box;
    border: 2px solid rgb(228, 228, 228) ;

}

.shipping{
   
    box-sizing: border-box;
  
    box-shadow: 1px 1px 1px 1px rgb(238, 236, 236);
    margin-top: 2em;
    box-sizing: border-box;
    border: 2px solid rgb(228, 228, 228) ;

    
}

.fillship{
    background-color: rgb(255, 255, 255) ;
  
    box-shadow: 1px 1px 1px 1px rgb(238, 236, 236);
   
    margin: 20px;
    box-sizing: border-box;
    border: 2px solid rgb(228, 228, 228)
}
.transform{
    background-color: rgb(255, 255, 255) ;
   
    height: 90vh;
  
    border: 2px solid rgb(228, 228, 228)
    
}

.invoic{
    margin-left: 36em;
}
.advance{
    background-color:rgb(255, 236, 236);
    width: 42em;
    border-radius: 2px;
    margin-top: 1em;
    height: 7em;
}

.newcolumn{
 
    margin-left: 25em;
    border:2px solid blue;
}